@model WebApplication.Models.ComponentViewModels.ComponentViewModel
@{ ViewData["title"] = "Showing component information"; }

<div class="row">
  <div class="col-xs-6">
    <h2>Showing component details</h2>
    <table class="table">
      <tr>
        <th>ID</th>
        <td>@Model.ComponentId</td>
      </tr>
      <tr>
        <th>Component type</th>
        <td>
          <a asp-controller="ComponentType" asp-action="Show" asp-route-id="@Model.ComponentTypeId">
            @Model.ComponentType.ComponentName
          </a>
        </td>
      </tr>
      <tr>
        <th>Component number</th>
        <td>@Model.ComponentNumber</td>
      </tr>
      <tr>
        <th>Serial number</th>
        <td>@Model.SerialNo</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>@Model.Status</td>
      </tr>
      <tr>
        <th>Admin comment</th>
        <td>@Model.AdminComment</td>
      </tr>
      <tr>
        <th>User comment</th>
        <td>@Model.UserComment</td>
      </tr>
    </table>
      <a asp-controller="Component" asp-action="Delete" asp-route-id="@Model.ComponentId">
          <button class="btn btn-primary">Delete component</button>
      </a>
      <a asp-controller="Component" asp-action="Edit" asp-route-id="@Model.ComponentId">
          <button class="btn btn-primary">Edit component</button>
      </a>
  </div>
</div>