@model System.Collections.Generic.List<Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2>CATEGORY LIST OMG</h2>
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>Category name</th>
        <th>Component types</th>
        <th>Actions</th>
      </tr>
      @foreach (var category in Model)
      {
          <tr>
            <td>@category.CategoryId</td>
            <td>@category.Name</td>
            <td>@category.CategoryComponentTypes.Count</td>
            <td>
              <a asp-action="Show" asp-route-id="@category.CategoryId">Show</a>
              &nbsp;<a asp-action="Update" asp-route-id="@category.CategoryId">Edit</a>
              &nbsp;<a asp-action="Delete" asp-route-id="@category.CategoryId">Delete</a>
            </td>
          </tr>
      }
    </table>
    <a asp-action="Create"><button class="btn btn-primary">Create category</button></a>
  </div>
</div>